
MarketAnalyzer.Algorithm/bin/
MarketAnalyzer.Algorithm/obj/

MarketAnalyzer.Analysis/bin/
MarketAnalyzer.Analysis/obj/

MarketAnalyzer.Business/bin/
MarketAnalyzer.Business/obj/

MarketAnalyzer.ConsoleApp/bin/
MarketAnalyzer.ConsoleApp/obj/

MarketAnalyzer.Core/bin/
MarketAnalyzer.Core/obj/

MarketAnalyzer.Data/bin/
MarketAnalyzer.Data/obj/

MarketAnalyzer.DataAccess/bin/
MarketAnalyzer.DataAccess/obj/

MarketAnalyzer.Scrapper/bin/
MarketAnalyzer.Scrapper/obj/

MarketAnalyzer.WebApp/bin/
MarketAnalyzer.WebApp/obj/